<nav class="flex items-center justify-between flex-wrap px-4 py-6 mx-auto bg-zinc-700 relative">
    <div class="flex items-center w-full justify-center">
        {{ settings:social }}
            <a href="{{ url }}" class="m-3 p-2 rounded-full bg-gray-500" aria-label="{{ name }}" rel="noopener">
                {{ svg :src="icon" class="h-6 w-6 hover:text-gray-500 text-white" }}
            </a>
        {{ /settings:social }}
    </div>
    <div class="flex w-full justify-center py-3 lg:absolute lg:left-1/4">
        <a href="" class="text-white left-0 text-xl uppercase pr-4">About us</a>
        <a href="" class="text-white left-0 text-xl uppercase">Contact us</a>
    </div>
</nav>
