<nav class="flex items-center justify-between flex-wrap px-4 py-6 mx-auto bg-zinc-700 relative">
    <div class="flex items-center w-full justify-center flex-col">
        <div class="flex flex-row items-center">
            <span class="text-white pr-2">A project by </span>
            <a href="https://www.larepublica.net/" target="_blank"><img src="/assets/site/larepublica_logo.svg" alt="logo del sitio La República" class="h-8 w-40" height="100px" width="150px"></a>
        </div>
        <span class="text-white">Copyright © {{ now format="Y" }}. All rights reserved.</span>
    </div>
</nav>
