<nav class="hidden xl:flex items-center justify-center xl:justify-center flex-wrap py-3 px-auto bg-green-600 top-menu">
    <div class="first-part xl:w-1/5 flex flex-row h-10">

        <div class="hidden xl:w-fit xl:ml-12 xl:flex  ">
            <button class="flex items-center p-2 text-white" x-bind:class="{'hidden': showDesktop}" @click="showDesktop = true">
                <img src="/assets/site/menu-white(1).svg" width="50px" height="50px" class="h-6 w-6">
            </button>
            <button class="items-center p-2 text-white" x-bind:class="{'hidden': !showDesktop}" @click="showDesktop = false" x-cloak>
                <img src="/assets/site/close-button.svg"  width="50px" height="50px" class="h-6 w-6">
            </button>
        </div>
        {{if current_uri == "/"}}
            <a class="pl-6 flex items-center" href="#Go">
                <span class="text-3xl text-white leading-tight font-futura font-bold go">Go</span>
            </a>
        {{ else }}
            <a class="pl-6 flex items-center" href="/">
                <span class="text-3xl text-white leading-tight font-futura font-bold go">Go</span>
            </a>
        {{/if}}
    </div>

    <div class="second-part w-3/5">
        {{if current_uri == "/"}}

            <div class="w-full xl:w-auto xl:flex items-center justify-center gap-8" @click.outside="showExtraMenu = false" x-show="showExtraMenu">
                {{ taxonomy:topics title:in="Now|Eat|Shop|Art|Night|Green|Trad|Stay" }}
                <a href="#{{ title|slugify }}" class="font-futurab block uppercase {{ is_current || is_parent ?= 'font-medium text-white' }} mt-4 xl:inline-block text-white text-xl hover:text-white xl:mt-0 ">
                    {{ title }}
                </a>
                {{ /taxonomy:topics }}
            </div>

            <div class="toggle-menu gap-16" @click.outside="showDesktop = false" x-show="showDesktop">
                {{ taxonomy:topics title:in="Med|Edu" }}
                <a href="#{{ title|slugify }}" class="uppercase {{ is_current || is_parent ?= 'font-medium text-white' }} mt-4  text-white text-xl hover:text-white xl:mt-0" x-bind:class="{'hidden': !showDesktop}" >
                    {{ title }}
                </a>
                {{ /taxonomy:topics }}
            </div>

        {{ else }}

            <div class="w-full xl:w-auto xl:flex items-center justify-center gap-8" @click.outside="showExtraMenu = false" x-show="showExtraMenu">
                {{ taxonomy:topics title:in="Now|Eat|Shop|Art|Night|Green|Trad|Stay" }}
                <a href="/#{{ title|slugify }}" class="font-futurab block uppercase {{ is_current || is_parent ?= 'font-medium text-white' }} mt-4 xl:inline-block text-white text-xl hover:text-white xl:mt-0">
                    {{ title }}
                </a>
                {{ /taxonomy:topics }}
            </div>

            <div class="toggle-menu gap-8" @click.outside="showDesktop = false" x-show="showDesktop">
                {{ taxonomy:topics title:in="Med|Edu" }}
                <a href="/#{{ title|slugify }}" class="uppercase {{ is_current || is_parent ?= 'font-medium text-white' }} mt-4  text-white text-xl hover:text-white xl:mt-0" x-bind:class="{'hidden': !showDesktop}" >
                    {{ title }}
                </a>
                {{ /taxonomy:topics }}
            </div>

        {{/if}}
    </div>
    
    <div class="third-part w-1/5 flex flex-row">
        <form id="search-desktop" action="/search/results" class="flex flex-row items-center">
            <div class="flex items-center relative cursor-pointer"
                x-on:click="searchBar = true"
                x-on:click.outside="searchBar = false"
            >
                <img src="/assets/site/search.svg" class="h-6 w-6" width="24px" height="24px">
                <input id="searchBar" x-show="searchBar" @click="searchBar = true" class="border-2 border-gray outline-none px-2 h-8 rounded-none placeholdler-black font-futura ml-4 w-3/4" placeholder="Search" type="search" name="q" value="{{get:q}}" placeholder="Search">    
                <span class="text-white  bg-green-600 hover:bg-green-700 font-bold py-1 px-4 mr-2" x-bind:class="{'hidden': searchBar, 'cursor-pointer': searchBar}" x-on:click="searchBar = !searchBar">Search</span>
                <button class="bg-green-600 hover:bg-green-700 text-white font-bold py-1 px-4 mr-2" x-bind:class="{'hidden': !searchBar, 'cursor-pointer': !searchBar}" x-on:click="searchBar = !searchBar" type="submit">
                    <span class="text-white ">Search</span>
                </button>
            </div>
        </form>
    </div>
</nav>

<div x-bind:class="{'hidden': !showMobileNav}" id="google-trans" class="fixed lg:top-5 lg:right-0 flex lg:flex">
    <div id="google_translate_element" class="flex flex-row"></div>
    <div class="weather-container flex flex-row ml-8 lg:ml-4 lg:mr-6">
        <img class="icon h-6 w-6 text-white pr-1" width="24px" height="24px" src="/assets/site/cloudy.svg">
        <p class="temp font-futura text-white"></p>
        <p class="pb-1 text-white relative bottom-1">&#8728;</p>
        <p class="pl-1 font-futura text-white">C</p>
    </div>
</div>

<!--Mobile menu-->
<nav class="flex xl:hidden flex-wrap pb-3 px-4 pr-auto bg-green-600 top-menu flex-col items-start drop-shadow-2xl">

    <div class="first-part xl:w-1/5 pt-3 flex flex-row items-center">

        <div class="block xl:hidden">
            <button class="flex items-center py-2 text-white" x-bind:class="{'hidden': showMobileNav}" @click="showMobileNav = true, showExtraMenu = true">
                <img src="/assets/site/menu-white(1).svg" class="h-10 w-14">
            </button>
            <button class="items-center py-2 text-white" x-bind:class="{'hidden': !showMobileNav}" @click="showMobileNav = false, showExtraMenu = false" x-cloak>
                <img src="/assets/site/close-button.svg" class="h-10 w-14">
            </button>
        </div>
        {{if current_uri == "/"}}
            <a class="pl-6 flex items-center" href="#Go">
                <span class="text-3xl text-white leading-tight font-futura font-bold go">Go</span>
            </a>
        {{ else }}
            <a class="pl-6 flex items-center" href="/">
                <span class="text-3xl text-white leading-tight font-futura font-bold go">Go</span>
            </a>
        {{/if}}
    </div>
    
    <div class="second-part w-full py-4" x-show="showExtraMenu">
        <div class="h-14"></div>
        <form id="search-mobile" action="/search/results" class="flex flex-row items-center w-screen">
            <div class="flex items-center w-full">
                <input class="border-2 border-gray outline-none h-12 rounded-none placeholdler-black font-futura pl-4 w-3/4" placeholder="Search" type="search" name="q" value="{{get:q}}" placeholder="Search">   
                <button type="submit" form="search-mobile" value="{{q}}">
                    <img src="/assets/site/search.svg" width="24px" height="24px" class="h-6 w-6 ml-4"> 
                </button>
            </div>
        </form>
    </div>    

    <div class="third-part w-full drop-shadow-2xl" x-show="showExtraMenu" >
        {{if current_uri == "/"}}

            <div class="w-full flex items-start px-4 flex-col">
                {{ taxonomy:topics sort="priority:asc"}}
                <a href="#{{ title|slugify }}" @click="showMobileNav = false, showExtraMenu = false" class="w-1/2 py-4 font-futurab block uppercase {{ is_current || is_parent ?= 'font-medium text-white' }} text-white text-xl hover:text-white">
                    {{ title }}
                </a>
                {{ /taxonomy:topics }}
            </div>

        {{ else }}

            <div class="w-full flex items-start px-4 flex-col">
                {{ taxonomy:topics sort="priority:asc"}}
                <a href="/#{{ title|slugify }}" @click="showMobileNav = false, showExtraMenu = false" class="w-1/2 py-4 font-futurab block uppercase {{ is_current || is_parent ?= 'font-medium text-white' }} text-white text-xl hover:text-white">
                    {{ title }}
                </a>
                {{ /taxonomy:topics }}
            </div>

        {{/if}}
        
    </div>
        
</nav>