<div id="Go" class="max-w-5xl mx-auto relative">
    <article id="home" class="pt-6">
        <p class="font-medium text-lg text-teal">{{ subtitle }}</p>
        {{responsive:featured_image class="max-h-350 max-h-620 h-auto w-full object-cover" webp="true" avif="false" quality:webp="85" glide:width="1200" width="1200" height="628" }}
    </article>
</div>

<div class="max-w-6xl mx-auto flex flex-col items-center justify-center">

    {{ sections }}
        
        {{ if show_title }}
            <div id="{{section_topic:slug|slugify}}" class="pt-16">
                <h1 class="text-xl py-3 px-20 text-white bg-green-600 border-2 tracking-tight leading-tight uppercase mb-8">{{section_topic:slug}}</h1>
            </div>
        {{ /if }}

        {{sectionIndex = index}}
        <div class="flex flex-wrap mb-8 justify-between w-full">
            {{collection:articles taxonomy:topics={section_topic:slug} as="article" sort="date" limit={amount} offset="{skip_count}" }}
                {{article}}
                {{articleIndex = index}}
                
                <div class="mb-16 w-full mx-8 lg:mx-0">
                    <h2 class="font-futurab mb-4 text-center mx-3">
                        <a href="{{ url }}" class="text-3xl lg:text-3xl tracking-tight leading-tight font-bold">
                            {{ title }}
                        </a>
                    </h2>
                    
                    <p class="font-futural text-gray-600 text-xl mb-3 lg:mb-6 text-center mx-3">
                        {{ excerpt | widont ?? content | strip_tags | safe_truncate(150, '...') }}
                    </p>
                    
                    <a class="object-cover max-h-350 max-h-620" href="{{url}}">
                        {{ if sectionIndex == 0 && articleIndex == 0 }}
                            {{responsive:featured_image class="max-h-350 max-h-620 h-auto w-full object-cover" webp="true" avif="false" quality:webp="85" glide:width="1200" width="1200" height="628"}}
                        {{ else }}
                            {{responsive:featured_image loading='lazy' class="max-h-350 max-h-620 h-auto w-full object-cover" webp="true" avif="false" quality:webp="85" glide:width="1200" width="1200" height="628" }}
                        {{ /if }}
                    </a>
                </div>
                {{/article}}
            {{/collection:articles }}
        </div>
        
        {{ if show_ad == "1" }}
            <div class="mb-8 w-full">
                <a href="{{select_ad:link}}" target="_blank" rel="">
                    {{select_ad}}
                        {{responsive:image loading='lazy' class="w-full h-auto lg:h-52" webp="true" avif="false" quality:webp="85" glide:width="1200" width="1200" height="200"}}
                    {{/select_ad}}
                </a>
            </div>
        {{ /if }}

    {{ /sections }}
    

</div>
