<div class="max-w-4xl mx-auto mt-10 mb-4 min-h-screen">
    <h2 class="text-6xl font-futura mb-4">{{ title }}:</h2>
    {{ search:results as="results"}}
        {{if results}}
            <p class="mb-8 text-2xl">Some titles related with the search: "{{get:q}}"</p>
            <ul class="space-y-4 pl-4">
                {{results}}
                    <li class="list-disc"><a href="{{url}}" class="text-xl font-bold hover:text-blue-700">{{title}}</a></li>
                {{/results}}
            </ul>
        {{else}}
            <p class="text-4xl font-futura mb-4 text-center pt-36">:( Results not found for: "{{get:q}}"</p>
        {{/if}}
    {{ /search:results}}
</div>
