@font-face {
    font-family: 'Futura';
    src: url(/fonts/Futura-Bold.woff2?9cbd35b32db1534c91256edee6ff2c1a) format('woff2'),
        url(/fonts/Futura-Bold.woff?06cd78ee2e1f4ab371d3912ac9dc0428) format('woff'),
        url(/fonts/Futura-Bold.ttf?4cf5eeba25a9bbc4710c15495e8a0ae7) format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src: url(/fonts/FuturaBT-Medium.woff2?f24249b5f408c87b3bab2272a5261426) format('woff2'),
        url(/fonts/FuturaBT-Medium.woff?bf62ca3fd89522a86ee8f1c91833f264) format('woff'),
        url(/fonts/FuturaBT-Medium.ttf?0acdc84ddda387090d4f7f963d77c67e) format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src: url(/fonts/FuturaBT-Light.woff2?fc02d5d7c072a740d574b01576f0f7d8) format('woff2'),
        url(/fonts/FuturaBT-Light.woff?c6e2418dde720d0709d31458ae38c6fd) format('woff'),
        url(/fonts/FuturaBT-Light.ttf?18fc12414ed1f2cc7cacd635ff19c393) format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Futura', 'sans-serif';
    font-weight: 400;
}

.font-futura {
    font-family: 'Futura', 'sans-serif';
    font-weight: 400;
}
.font-futural {
    font-family: 'Futura', 'sans-serif';
    font-weight: 100;
}
.font-futura {
    font-family: 'Futura', 'sans-serif';
    font-weight: 500;
}
