.goog-te-banner-frame.skiptranslate {
    display: none !important;
    } 
body {
    top: 0px !important; 
    }
.go{
    letter-spacing: -6px;
}
.toggle-menu {
    position: absolute;
    top: 100%;
    background: #31b963;
    left: 0;
    width: 100%;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
}

.top-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

body {
    padding-top: 64px;
}

.columns3{
    display: flex!important;
    justify-content: space-between!important;
    flex-direction: column!important;
    max-width: 15rem!important;
    align-items: start!important;
}

.goog-te-gadget-simple{
    background-color: transparent !important;
    border: none !important;
    font-size: inherit;
    display: block;
    padding-top: 1px;
    padding-bottom: 2px;
    cursor: pointer;
    zoom: 1;
    display: inline;
}
.goog-te-menu-value{
    display: flex;
}