body, html {
    font-size: 16px;
}

body {
    top: 0px !important; 
    padding-top: 64px;
}

.go{
    letter-spacing: -6px;
}
.toggle-menu {
    position: absolute;
    top: 100%;
    background: #31b963;
    left: 0;
    width: 100%;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
}
.top-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}
#google_translate_element2{
    display: none;
}
#google-trans:before {
    content: '';
    position: relative;
    top: 0;
    left: 0;
    background: url(/assets/site/world.svg);
    background-size: 20px;
    height: 20px;
    width: 25px;
    background-repeat: no-repeat;
}
#translate{
    background-color: transparent;
    text-transform: uppercase;
    color: #fff;
}
#translate option{
    background-color: #fff;
    color: #000;
}
.height-620{
    height: 620px !important;
}
.min-w-240{
    min-width: 240px !important;
    min-height: 176px !important;
}
.min-w-450{
    min-width: 450px !important;
}
.content-show{
    align-items: center;
    gap: 2%;
}
.content-show img{
    object-fit: contain;
    width: 1200px !important;
    height: 500px;
}
article h1{
    margin-bottom: 2rem;
}
#searchForm div{
    flex-direction: row;
    position: absolute!important;
    right: 12.5rem;
    top: 1.15rem;
}
#home img{
    height: auto;
    width: 100%;
    max-width: 1024px;
    max-height: 330px;
}
.max-h-620{
    max-height: 620px !important;
}
.desktop{
    display: flex !important;
}
.mobile{
    display: none;
}
#searchForm{
    display:flex;
    flex-direction: row;
    justify-items: center;
}
#nav{
    padding: 0.75rem 0.50rem !important;
}
#searchForm div .mobile{
    display: none !important;
}
@media (max-width: 1400px) {
    body, html {
        font-size: 15px;
    }
}
@media (max-width: 1200px) {
    body, html {
        font-size: 14px;
    }
}
@media (max-width: 640px) {
    body, html {
        font-size: 15px;
    }
    .max-h-350{
        max-height: 350px !important;
    }
    
    .content-show img{
        height: 300px;
    }

    .desktop{
        display: none !important;
    }

    .mobile{
        display: flex;
        position: fixed;
        background: #31b963;
        left: 0;
        top: 4rem;
        padding: 0 3rem 1rem 0;
        height: 100%;
    }
    #nav{
        flex-direction: column;
        align-items: flex-start !important;
        padding: 0;
    }
    #searchForm > div{
        right: 42%;
    }
    .mapouter{
        width: 100vw !important;
        padding: 0 15px;
    }
    .gmap_canvas{
        width: 90vw !important;
    }
    .gmap_canvas iframe{
        width: 100% !important;
    }
}
#searchForm  .mobileSearch{
    position: fixed !important;
    display: flex;
    flex-direction: row;
    top: 4rem;
    right: 11px;
    height: 2.5rem!important;
}
#searchForm .mobileSearch input{
    position: relative;
    right: 0px;
    top: 0px;
    width: 200px !important;
    height: 100% !important;
    min-width: 180px;
    margin-left: 0px !important;
    border-left: 0 !important;
}

#searchForm .mobileSearch button{
    margin-left: 0px !important;
}
#searchForm .mobileSearch img{
    border-top-width: 2px !important;
    border-left-width: 2px !important;
    border-bottom-width: 2px !important;
    height: 100% !important;
    background-color: #16A34A;
    padding-left: 3px !important;
    padding-right: 3px !important;
}
.go{
    height: 2rem;
    width: 3rem;
}
.goog-te-banner-frame{
    visibility: hidden !important;
}