.toggle-menu {
    position: absolute;
    left: 0;
    top: 70px;
    background: #16a34a;
    width: 100vw;
    padding: 1rem;
    text-align: center;
}

.columns3{
    display: flex!important;
    justify-content: space-between!important;
    flex-direction: column!important;
    max-width: 13rem!important;
    align-items: start!important;
}